<h1>Patient Chart</h1>
<h3>Your information: </h3>
<table class="stripped">
<tr>
    <td>First Name:</td>
    <td><%= @patient.first_name %></td>
</tr>
<tr>
    <td>Last Name:</td>
    <td><%= @patient.last_name %></td>
</tr>
<tr>
    <td>Remove Patient:</td>
    <td><%= button_to 'Delete', {:controller => :patients, :action => 'destroy', :id => @patient }, :method => :delete, class:"btn" %></td>
</tr>
</table>

<% @appointments.each_with_index do |appointment, index| %>
<p>Doctor's Name: </p>
  <%= appointment.doctor.full_name %>

  <%# In appointment index - do @appointments.each_with_index do |appt, i|  %>
  <%# appt.user_id.user.full_name %>
 
<%end%>
