<h1>Edit Appointment</h1>
<p>Please fill your information below:</p>
<%= render "form"%>
<%= link_to 'Cancel', doctor_appointments_path(@doctor, @appointment) %>

<%# TO DO -- MAKE PATH TO CANCEL WORK %>
